{{template "base" .}}

{{define "content"}}
    <div>
        <h1>This is the about page</h1>
        <p>We're good</p>
        <p>We're good again!</p>
        <p>This came from the Handler: {{index .StringMap "test"}}</p>
        <p>
            {{if ne (index .StringMap "remote_ip") ""}}
                Your remote IP address is: {{index .StringMap "remote_ip"}}
            {{else}}
                We don't have your IP address, visit <a href="/">Home</a> so we set it.
            {{end}}
        </p>
    </div>
{{end}}